.infoPageWrapper {
  position: absolute;
  top: calc(50% - 250px);
  left: calc(50% - 500px);
  height: 90vh;
  width: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.infoModal {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: -1px 2px 17px 32px rgba(22, 23, 29, 0.32);
  overflow: hidden;
}
