.windowForm {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  font-size: 20px;
}

.windowForm p {
  font-size: 20px;
}

.formItem {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.body {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
