.stickerShop {
  position: relative;
  z-index: 10;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  font-family: "Spartan";
  font-size: 36px;
}

.shopHeading {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bascket {
  position: relative;
  width: 30px;
  height: 30px;
  background: url(../../../assets/images/icons/bascket.svg) no-repeat center
    center;
  background-size: contain;
  cursor: pointer;
}

.basketCount {
  position: absolute;
  top: -4px;
  left: -9px;
  width: 17px;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: monospace;
  font-size: 12px;
  font-weight: 600;
  color: #1c1d25;
  background-color: #a6e031;
  border-radius: 50%;
}

.shopContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* gap: 10px; */
}

.itemWrap {
  overflow: hidden;
  width: 49%;
  height: 210px;
  margin-bottom: 20px;
}

.shopItem {
  width: 100%;
  height: 100%;

  padding: 25px;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  font-size: 20px;
  background: chartreuse;
  cursor: pointer;
  transition: 0.3s;
}

.shopItem:hover {
  transform: scale(1.03);
}

.insta {
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
    url(../../../assets/images/stickerShop/insta.jpg) no-repeat center center;
  background-size: cover;
}

.call {
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
    url(../../../assets/images/stickerShop/call.jpg) no-repeat center center;
  background-size: cover;
}

.window {
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
    url(../../../assets/images/stickerShop/window.jpg) no-repeat center center;
  background-size: cover;
}

.users {
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
    url(../../../assets/images/stickerShop/usersVariant.jpg) no-repeat center
      center;
  background-size: cover;
}
