.contactMe {
  width: 50%;
  height: 100%;
  padding: 55px;
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  background-color: #1c1d25;
}

.title {
  width: 100%;
  position: relative;
  font-family: "Spartan";
  font-size: 36px;
  text-align: left;
}

.bigText {
  position: absolute;
  top: -50px;
  left: -40px;
  width: 670px;
  font-size: 70px;
  opacity: 0.03;
}

.text {
  line-height: 1.2;
  text-align: justify;
  font-family: monospace;
  font-size: 16px;
  color: #ee8d65;
}

.contactMe label {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: monospace;
  font-size: 16px;
  letter-spacing: 2px;
}

.contactMe input,
.contactMe textarea {
  width: 100%;
  padding: 5px;
  background: none;
  border: none;
  border-bottom: 2px solid #ebebeb;
  font-family: monospace;
  font-size: 14px;
  color: #ebebeb;
}

textarea {
  height: 80px;
}

.contactMe button {
  padding: 10px 15px;
  font-family: monospace;
  font-size: 16px;
  font-weight: 600;
  color: #ebebeb;
  letter-spacing: 2px;
  border: none;
  background: #e24728;
  transition: 0.3s;
}

button:hover {
  background: #d81010;
}
