.socMedia {
  z-index: 10;
  position: absolute;
  top: calc(50% - 80px);
  right: 3%;
  height: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.socMediaIcon {
  width: 35px;
  height: 35px;
  fill: #b0b2c3;
  transition: 0.3s;
}

.socMediaIcon:hover {
  fill: #ffffff;
  transform: translateY(-2px);
}
