.aboutMe {
  width: 50%;
  height: 100%;
  padding: 55px;
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 25px;
  font-family: "Spartan";
  background-color: #ebebeb;
  color: #1c1d25;
}

.title {
  position: relative;
  font-size: 36px;
}

.bigText {
  position: absolute;
  top: -80px;
  left: 80px;
  width: 570px;
  font-size: 100px;
  opacity: 0.07;
}

.text {
  line-height: 1.4;
  text-align: justify;
  font-family: monospace;
  font-size: 16px;
}

.text span {
  color: #ef7b65;
  font-weight: 600;
}

.aboutStack {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.stackItem {
  position: relative;
  width: 60px;
  height: 60px;
}

.stackItem svg {
  width: 100%;
  height: 100%;
  transition: 0.3s;
}

.stackItem p {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-family: monospace;
  font-size: 11px;
  font-weight: 900;
  text-align: center;
  opacity: 0;
  transition: 0.4s;
}

.stackItem:hover {
  fill: rgb(240, 240, 23);
}

.stackItem:hover p {
  transform: translateY(15px);
  opacity: 1;
}
